body{
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #7fddde;
    
}
.head{
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}